@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  overscroll-behavior: none;
  overflow-x: hidden;
  background-color: #000000;
}

.grid-container {
  padding: 0 40px; /* Increased padding for desktop */
  box-sizing: border-box;
}
